Repository IntelPython/dpctl, pull requests merged in 2021-12, with the labels that each got.

#705 Fix tests for nested context factories expecting for integration environment
  dpctl/tests/test_sycl_queue_manager.py
Labels: tests

#684 [Refactoring] Add variables for skip decorators
  dpctl/tests/test_sycl_queue_manager.py
Labels: enhancement, tests

#722 A step added to build/run examples
  .github/workflows/conda-package.yml
  examples/cython/sycl_buffer/_buffer_example.pyx
  examples/cython/sycl_buffer/run.py
  examples/cython/sycl_buffer/setup.py
  examples/cython/sycl_direct_linkage/_buffer_example.pyx
  examples/cython/sycl_direct_linkage/setup.py
  examples/cython/usm_memory/run.py
  examples/cython/usm_memory/setup.py
  examples/pybind11/external_usm_allocation/example.py
  examples/python/device_selection.py
  examples/python/dppy_kernel.py
Labels: infrastructure
