Repository IntelPython/dpctl, pull requests merged in 2021-04, with the labels that each got.

#359 Fix tests which fail if GPU is not available (only CPU is available)
  dpctl/tests/test_sycl_context.py
  dpctl/tests/test_sycl_queue_manager.py
Labels: bug, tests

#369 Update Python coverage to use pytest-cov
  .coveragerc
  conda-recipe/run_test.sh
Labels: 3 - Waiting: CI, coverage

#218 Use public keyword in _sycl_core.pxd on SyclContext/SyclQueue
  .gitignore
  MANIFEST.in
  dpctl/_sycl_context.pxd
  dpctl/_sycl_device.pxd
  dpctl/_sycl_event.pxd
  dpctl/_sycl_queue.pxd
  dpctl/_sycl_queue_manager.pxd
  dpctl/memory/_memory.pxd
Labels: 1 - In Progress
